.hidden {
  display: none !important;
}

/* Sidebar toggle desktop */
#sidebar.sidebar-hidden {
  width: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

#main.expanded {
  margin-left: 0 !important;
  width: 100% !important;
}

